<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Test IBM</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="../css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
</head>
<body>
    <div class="container" ng-app="customerModule" ng-controller="customer">
        <div id="menu" class="margin-top-30">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Lista de Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adviser/page">Lista de Asesores</a>
                </li>
            </ul>
        </div>
        <div class="row margin-top-30">
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="50" ng-model="customerDto.identification" placeholder="Cédula" aria-label="Cédula" aria-describedby="button-addon2" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="50" ng-model="customerDto.name" placeholder="Nombre" aria-label="Nombre" aria-describedby="button-addon2" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="100" ng-model="customerDto.address" placeholder="Dirección" aria-label="Dirección" aria-describedby="button-addon2" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="30" ng-model="customerDto.city" placeholder="Ciudad" aria-label="Ciudad" aria-describedby="button-addon2" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" maxlength="20" ng-model="customerDto.telephone" placeholder="Teléfono" aria-label="Teléfono" aria-describedby="button-addon2" required>
            </div>
            <div class="input-group mb-3">
                <button ng-click="save()" class="btn btn-sm btn-info">Guardar Cliente</button>
            </div>
            <!--<div id="text-error" class="alert alert-danger" role="alert" ng-disabled="textError !== '' ">{{textError}}</div>-->
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Cédula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col"># Tarjetas Asociadas</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in allCustomer">
                        <th scope="row" ng-click="getTransaction(customer)">{{customer.identification}}</th>
                        <td ng-click="getTransaction(customer)">{{customer.name}}</td>
                        <td ng-click="getTransaction(customer)">{{customer.address}}</td>
                        <td ng-click="getTransaction(customer)">{{customer.city}}</td>
                        <td ng-click="getTransaction(customer)">{{customer.telephone}}</td>
                        <td ng-click="getTransaction(customer)">{{customer.cardNumbers}}</td>
                        <td>
                            <div class="input-group mb-3">
                                <button ng-click="edit(customer)" class="btn btn-sm btn-info">Editar</button>&nbsp;&nbsp;
                                <button ng-click="delete(customer)" class="btn btn-sm btn-info">Eliminar</button>&nbsp;&nbsp;
                                <button ng-click="getCards(customer)" type="button" class="btn btn-sm btn-info margin-top-7" data-toggle="modal" data-target="#cardModal">Tarjetas</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/app.js"></script>
<script src="../js/customer.js"></script>
</html>